header{
    width: 100%;
    height: 6rem;
    background-color: var(--green-0);
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 10px rgba(192, 192, 192, 0.541);
}

.box_img_header img{
    width: auto;
    height: 5.8rem;
}

#navigation_header {
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 6rem;
    justify-content: space-around;
}

.btn_icon_header{
    display: none;
}

.button_header.home{
    display: none;
}

.button_header{
    text-decoration: none;
    color: white;
    font-family: text-0;
    border-bottom: 2px solid transparent;
    letter-spacing: 3px;
    transition: 0.5s; 
    font-size: 1.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
    ;
}

.button_header:hover{
    transition: 0.8s;
    border-bottom: 2px solid white;
    padding: 2% 0;
    outline: none;
    text-shadow: 1px 1px 10px rgb(150, 148, 148);
    
}
